<!DOCTYPE html>
<html>
<head>
  <title>RedditOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<%= flash[:errors] %>

<body>


<%= yield %>

</body>
<footer>

 <% if logged_in? %>
    <%= button_to "log out", "/session", method: :delete %>
    <% else %>
      <%= button_to "log in", new_session_url, method: :get %>
  <% end %>
</footer>
</html>
